/*Definir fuentes personalizadas */
html{
    scroll-behavior: smooth;
}
@font-face

{
    font-family: 'BallparkWeiner';
    
    src: url('polices/ballpark.eot'); 
    
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'), 
    
        url('polices/ballpark.woff') format('woff'), 
    
        url('polices/ballpark.ttf') format('truetype'),

        url('polices/ballpark.svg#BallparkWeiner') format('svg');

    font-weight: normal;
    font-style: normal;

} 

@font-face

{
    font-family: 'Dayrom';

    src: url('polices/dayrom.eot');
    
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),

        url('polices/dayrom.woff') format('woff'), 

        url('polices/dayrom.ttf') format('truetype'), 

        url('polices/dayrom.svg#Dayrom') format('svg'); 

    font-weight: normal; 
    
    font-style: normal;

} 

body

{
    background: url('images/yellow_background.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
   

}

#main_wrapper

{
    width: 900px;

    margin: auto;

} 


section h1, footer h1, nav a

{

    font-family: Daymon , serif;

    font-weight: normal;

    text-transform: uppercase;

} 


/* Encabezado */

header

{
    
    background: url('images/line.png') repeat-x bottom

    

}


#main_title

{

    display: inline-block;

}


header h1

{

    font-family: 'BallparkWeiner', serif;

    font-size: 2.5em;

    font-weight: normal;

}

#logo, header h1

{

    display: inline-block;
    margin-bottom: 0px;

}
#logo 
{ 
    width: 50px;
    height: 50px;
}

header h2

{

    font-family: Dayrom , serif;

    font-size: 1.1em;

    margin-top: 0px;

    font-weight: normal;

}

/* Navegaci칩n */

.menu li{
    display: inline-block;
    text-align: center;
}

.menu{
    list-style: none;
    padding: o;
    background: #092327;
    width: 859px;
    margin: auto;
}




.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}


.menu li a:hover{
    background: #547def;
}

/* Banner */

#banner_image

{

    margin-top: 15px;

    height: 32px;

    border-radius: 5px;

    background: url(images/banderalgbti.jpeg);

    position: relative;

    box-shadow: 0px 4px 4px #1c1a19;

    margin-bottom: 25px;

}




#banner_description

{

    position: absolute;

    bottom: 0;

    border-radius: 0px 0px 5px 5px;

    width: 99.5%;

    height: 33px;

    height: 33px;

    padding-top: 15px;

    padding-left: 4px;

    background-color: rgb(24,24,24); /* Los navegadores antiguos leer치n esto */

    background-color: rgba(24,24,24,0.8); /* Los navegadores nuevos leer치n esto */

    color: white;

    font-size: 0.8em;

}

.red_button

{

    display: inline-block;

    height: 25px;

    position: absolute;

    right: 5px;

    bottom: 5px;

    background: url(images/fond_degraderouge.png) repeat-x;

    border: 1px solid #760001;

    border-radius: 5px;

    font-style: 1.2em;

    text-align: center;

    padding: 3px 8px 0px 8px;

    color: black;

    text-decoration: none;
    
    animation-name: agrandar;
    
    animation-iteration-count: infinite;
    
    animation-duration: 3s;
    
    animation-timing-function: linear;
    
    animation-duration: alternate;
    
}

@keyframes agrandar{
    from{
        transform: scale(1.0);

    }
    to{
        transform: scale(1.2);
    }
}


.logo

{

    display: inline-block;

    height: 25px;

    position: relative;

    left: 590px;

    bottom: 5px;

    border: 0px solid #760001;

    border-radius: 5px;

    font-style: 1.2em;

    text-align: center;

    padding: 3px 8px 0px 8px;

    color: black;

    text-decoration: none;


}


.two

{

    display: inline-block;
    
    width: 80px;

    height: 40px;

    position: relative;

    left: 680px;
    
    top: -50px;

    bottom: 5px;

    border: 0px solid #760001;

    border-radius: 5px;

    font-style: 1.2em;

    text-align: center;

    padding: 3px 8px 0px 8px;

    color: black;

    text-decoration: none;
    
    
}


.three

{

    display: inline-block;
    
    width: 80px;

    height: 40px;

    position: relative;

    left: 450px;
    
    top: -50px;

    bottom: 5px;

    border: 0px solid #760001;

    border-radius: 5px;

    font-style: 1.2em;

    text-align: center;

    padding: 3px 8px 0px 8px;

    color: black;

    text-decoration: none;

}

.red_button img

{

    border: 0;

}

/* Cuerpo */

article, aside

{

    display: inline-block;

    vertical-align: top;

    text-align: justify;

}


article

{

    width: 625px;

    margin-right: 15px;

}

.cat_icon

{

    vertical-align: middle;

    margin-right: 8px;

}

article p

{

    font-size: 00.8em;

}

aside

{

    position: relative;
    
    width: 235px; background-color: #315a97;
    
    box-shadow: 0px 2px 5px #975432;
    
    border-radius: 5px; 
    
    padding: 10px; 
    
    color: white; 
    
    font-size: 0.9em; 

}


#arrow

{

    position: absolute;

    top: 100px;

    left: -12px;

}


#zozor_picture

{

    text-align: center;

}

#zozor_picture img

{
    width: 220px;
    height: 259px;
    border: 1px solid #181818;

}

p img 
{ 
    width: 36px;
    height: 36px;
    float: left;

}


aside img

{

    margin-right: 5px;

}

/* Pie de p치gina */

footer

{

    background: url(images/ico_top.png) no-repeat top center, 
    url(images/flecheblanchedroite.png), repeat-x top, 
    url(images/separateur.png) repeat-x top;

    padding-top: 25px;

}

footer p, footer ul

{

    font-size: 0.8em;

}

footer h1

{

    font-size: 1.1em;

}

#tweet, #my_pictures, #my_friends

{

    display: inline-block;

    vertical-align: top;

}

#tweet

{

    width: 28%;

}

#my_pictures

{

    width: 35%;

}

#my_friends

{

    width: 31%;

}

#my_pictures img

{

    border: 1px solid #181818;

    margin-right: 2px;

}

#my_friends ul

{

    display: inline-block;

    vertical-align: top;

    margin-top: 0;

    width: 48%;

    list-style-image: url(images/ico_liensexterne.png);

    padding-left: 2px;

}

#my_friends a

{

    text-decoration: none;

    color: #760001;
    
}


element

{

    display: inline;

    zoom: 1;

}

/* Applied to older versions of Internet Explorer */

/* To activate inline-block positioning */

.old_ie #main_title, .old_ie #logo, .old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie .red_button, .old_ie article, .old_ie aside, .old_ie #tweet, .old_ie #my_pictures, .old_ie #my_friends, .old_ie #my_friends ul

{

    display: inline;

    zoom: 1;

}

/* Some other tweaks */

.old_ie section h1, .ie8 section h1

{

    font-size: 1.1em;

}

.old_ie footer div, .ie8 footer div

{

    margin-top: 30px;

    background: url(images/flecheblanchedroite.png) repeat-x top

}

h1{
    color: red;
}

h4{
    color: red;
}

.arbol img{
    width: 69px;
    height: 69px;
    float: left;
}

.gato img{
    width: 69px;
    height: 69px;
    float: left;
}

.luna img{
    width: 69px;
    height: 69px;
    float: left;
}

.carretera img{
    width: 69px;
    height: 69px;
}


